* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
}


#wrapper {
	margin: 1em auto;
	border: solid 1px green;
	width: 842px;
	height: 600px;
	z-index: 90;
}

.box, .tip {
	width: 60px;
	height: 60px;
	text-align: center;
}

input[type="text"] {
	text-transform: uppercase;
	font-size: 20px;
	border: none;
	z-index: 1;
	width: 99%;
	height: 99%;
}

input[type="text"], .tip {
	border: solid 1px green;
}

.box {
	float: left;
	margin: 0;
	padding: 0;	
	
}

.tip {
	display: block;
	line-height: 60px;
	font-size: .6em;
}

.left-arrow:after, .down-arrow:after, .right-arrow:after, .up-arrow:after {
	display: block;
	position: relative;
	z-index: 2;
	font-size: 20px;
}

.down-arrow:after {
	content: "\2193";	
	bottom: 40%;
	left: 0;	
	z-index: 2;
}

.right-arrow:after {
	content: "\2192";
	left: 60%;
	bottom: 100%;
}